#Django & DRF
django
djangorestframework
python-decouple


# IA et NLP
transformers
torch
spacy
scikit-learn
pandas
numpy
sentence-transformers
python-multipart

# Traitement PDF et fichiers
pdfminer.six
PyPDF2
python-docx
textract==1.6.3

# Tâches asynchrones
celery
redis

# Visualisation
matplotlib
seaborn
plotly